extends layout

block header
  title Custom title

block content
  - var posts = pageData
  //- - console.log('JSON items: ' + posts.length)

  h1 Dish of the week

  each post, i in posts
    figure
      img.dither(src=post.media.images[0].scaled500.url)
      figcaption= post.media.images[0].scaled500.caption

